@font-face {
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('fonts/League\ Spartan.ttf') format('truetype');
}

@font-face {
  font-family: 'Lemon Tuesday';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('fonts/Lemon\ Tuesday.otf') format('opentype');
}

@font-face {
  font-family: 'Give You Glory';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('fonts/Give\ You\ Glory.ttf') format('truetype');
}
