/* INFORMATION */

.information {
  padding: 1rem;
}

.information-text {
  font-size: 1.5rem;
}

/* PINBOARD ITEM */

.pinboard-item-cw,
.pinboard-item-ccw {
  display: block;
  padding: 3rem 1rem 1rem 1rem;
  background-color: white;
  -moz-box-shadow: -3px 1px 3px rgba(33, 33, 33, 0.7);
  -webkit-box-shadow: -3px 1px 3px rgba(33, 33, 33, 0.7);
  -o-box-shadow: -3px 1px 3px rgba(33, 33, 33, 0.7);
  -ms-box-shadow: -3px 1px 3px rgba(33, 33, 33, 0.7);
  box-shadow: -3px 1px 3px rgba(33, 33, 33, 0.7);
}

.pinboard-item-cw {
  -moz-transform: rotate(2deg);
  -webkit-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
}

.pinboard-item-ccw {
  -moz-transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

/* POST-IT */

.post-it {
  margin: 3rem;
  padding: 3rem 2rem;
}

.post-it::before {
  content: '';
  display: block;
  background-image: url('images/pin.png');
  background-size: 2rem 2rem;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0.5rem;
  left: calc(50% - 0.5rem);
}

.post-it-yellow {
  background-color: #f7eda6;
}

.post-it-orange {
  background-color: #fac8ac;
}

.post-it-title,
.post-it-content {
  font-family: 'Give You Glory', 'Papyrus', fantasy;
  color: #222;
}

.post-it-title {
  position: relative;
  margin-left: 1rem;
  padding-bottom: 0.5rem;
}

.post-it-title::before {
  content: '';
  z-index: -1;
  position: absolute;
  left: 0;
  bottom: 1rem;
  width: 8rem;
  height: 1rem;
  -moz-transform: skew(-15deg) translateX(-1rem) rotate(-2deg);
  -webkit-transform: skew(-15deg) translateX(-1rem) rotate(-2deg);
  -o-transform: skew(-15deg) translateX(-1rem) rotate(-2deg);
  -ms-transform: skew(-15deg) translateX(-1rem) rotate(-2deg);
  transform: skew(-15deg) translateX(-1rem) rotate(-2deg);
  background: rgba(238, 111, 87, 0.5);
}

.post-it-content {
  font-size: 1.75rem;
}

.post-it-content ul {
  margin-top: 0.5rem;
  margin-bottom: 0;
  padding-left: 1.5rem;
}

.post-it-content li {
  list-style-type: '-';
  padding-inline-start: 1ch;
}

/* POLAROID */

/* Source: http://cssdemos.tupence.co.uk/image-polaroid.htm */
.polaroid {
  padding: 1rem;
  background-color: white;
}
.polaroid::before {
  content: '';
  display: block;
  z-index: 1;
  position: absolute;
  top: -0.8rem;
  background-color: rgba(219, 218, 207, 0.7);
}
.pinboard-item-cw.polaroid::before {
  right: 1rem;
  width: 3.5rem;
  height: 1.5rem;
  -moz-transform: rotate(12deg);
  -webkit-transform: rotate(12deg);
  -o-transform: rotate(12deg);
  -ms-transform: rotate(12deg);
  transform: rotate(12deg);
}
.pinboard-item-ccw.polaroid::before {
  left: 0.5rem;
  width: 5rem;
  height: 1.5rem;
  -moz-transform: rotate(-12deg);
  -webkit-transform: rotate(-12deg);
  -o-transform: rotate(-12deg);
  -ms-transform: rotate(-12deg);
  transform: rotate(-12deg);
}

/* Source: https://stackoverflow.com/questions/5445491/height-equal-to-dynamic-width-css-fluid-layout#comment22641318_6615994 */
.polaroid-image-wrapper {
  display: inline-block;
  position: relative;
  width: 100%;
}
.polaroid-image-wrapper::after {
  content: '';
  display: block;
  margin-top: 100%;
}
.polaroid-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  -moz-filter: brightness(1.1) grayscale(0.1) sepia(0.1);
  -webkit-filter: brightness(1.1) grayscale(0.1) sepia(0.1);
  -o-filter: brightness(1.1) grayscale(0.1) sepia(0.1);
  -ms-filter: brightness(1.1) grayscale(0.1) sepia(0.1);
  filter: brightness(1.1) grayscale(0.1) sepia(0.1);
}

.polaroid-text {
  margin: 1rem 0;
  text-align: center;
  font-family: 'Lemon Tuesday', 'Brush Script MT', cursive;
  font-size: 1.5rem;
  color: #383b3e;
}

/* MAP */

.map {
  position: relative;
  display: inline-block;
  margin: 1rem;
  padding: 0 0 1rem 0;
}

.map-source {
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
  z-index: 1;
  margin: 0;
  font-size: 0.5rem;
  color: #929292;
}

.map-source a,
.map-source a:hover,
.map-source a:visited,
.map-source a:active {
  color: inherit;
}

.map-text {
  margin-top: 0;
}

/* CTA ICONS */

.cta-link:not(:first-of-type) {
  margin-left: 0.5rem;
}

.cta-icon {
  width: 48px;
  height: 48px;
}
